= render 'layouts/errors', object: player
= form_for player do |f|
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, class: 'form-control'
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, class: 'form-control'
  .field
    %br/
    = f.file_field :avatar
  %br
  .actions
    = f.submit 'Save', class: 'btn btn-info'
